@keyframes slide-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s ease-out;
}

body{
  padding:0;
  margin:0;
}


.fondo {
  
  /* Estilos CSS */

  background-image: url("../public/img/fondo4.png"); /* Ruta relativa a la carpeta public */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-color: red;
  position: relative; /* Añadir posición relativa */
   /* Cambio de overflowY a overflow-y */
 
}


.borde {
  border-radius: 340px;
}
